<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
	<script src="js/ng-cordova.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">TREASURE HUNT</h1>
      </ion-header-bar>
	  <ion-content ng-controller="AppController">
<div class="list card">
<div class="item item-body"><center>
<img class="small-image" src="goibibologosmall.jpg" height="75dp" width="fill_parent"></center></div></div>
<div class="row">
  <div class="col col-33">Username</div>
  <div class="col col-33 col-offset-33">4.0</div></div>
</br>
<div class="card">
  <div class="item item-text-wrap">An old monument built in 1632 and one of the world wonders</div></div>
</br>
<div class="card">
  <div class="item item-text-wrap"><font color="ORANGE">Tomb of Mumtaz Mahal</font></div></div>
<div class="list">
      <button class="button" ng-click="scanBarcode()">Scan Barcode</button>                           
  </div>
<div class="row">
 <div class="col col-33 col-offset-80">25 Points</div></div>
<div>
<a class="button button-outline button-positive" href="index12.html">Just Tell me the Answer</a></div>
</ion-content>
    </ion-pane>
</body>
</html>
